body{
    background-image: url(../img/fondoTablas.jpeg);
}
.header-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    font-style: italic;
    text-align: center;
    background-color: rgb(114, 75, 69);
    width: 100%;
    height: 60px;
    
}

.header-principal .link:hover{
    color: white;
}

.link{
    margin: 3px;
}

.header-principal .link2:hover{
    color: white;
}

.link2{
    margin: 3px;
    margin-right: 25px;
    text-decoration: none;
    color: black;
}
.img{
    width: 80px;
    margin: 15px;
}