.container-ventasadmin{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    flex-direction: column;
    top: 100px;
}


.tabla{
    border: solid 10px rgba(0, 0, 0, 0.2);
    position: relative;
    top: -20px;
}

table{
    font-size: 19px;
    table-layout: fixed;
    border-collapse: collapse;
}

thead{
    
}

th{
    background-color: rgb(150, 150, 150);
    position: sticky;
    top: 0;
    padding: 20px 15px;
    font-weight: 700;
    text-transform: uppercase;
}

td{
    padding: 15px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

tbody tr{
    cursor: pointer;
}

tbody tr:hover{
    background: rgba(196, 196, 196, 0.2);
}

.table-wrapper{
    max-height: 300px;
    overflow-y: scroll;
    margin: 20px;
}

